<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>About Us</h1>
            <h6>Company Background</h6>
            <p>
                Oz Travel is headquartered in Sydney and launched in 2012.
                With 150 immersive audio walks in 17 cities, Detour is a new way to experience places.
                In addition to making Detours ourselves, we're planning to release our creation tools to
                the public so anyone can make a Detour. Learn more about Detour Platform.
            </p>
            <br />
            <h6>Company Goals</h6>
            <p>
                We aim to provide you with luxurious and exlusive travel experiences that can be found nowhere else.
                We aim to give you memories for years to come for your getaway whether it be for a family trip,
                honeymoon, birthday, anniversary or other special occasion.
                We aim to provide packages that are value for money
            </p>
        </div>
    </div>
    <div class="row">
        <h6>Meet Our Team</h6>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>